<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Arrested Development TypeRacer!</title>
    <link rel="stylesheet" type="text/css" href="../css/application.css" />
    <script type="text/javascript" src="/javascripts/race.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
