<div id="game">
	<form>
		<div id="instructions">
			<p><b>Welcome to Arrested Development TypeRacer!</b></p>
			<p>Race will begin when you start typing</p>
		</div>
		</br>
		<p id="gameData"><%= @quote %></p>
		<input id="gameArea" type="text" autofocus="true"></input>
	</form>
	<p id="results"></p>
	<form class="hidden" id="nextGame" method="post" action="/">
		<button type="submit">Try again</button>
	</form>
</div>

<script type="text/javascript">
	document.onreadystatechange = function(){
		race(document);
	};
</script>